# Base ----------------------------------------
sqlalchemy==2.0.32
pymysql==1.1.1
pandas==2.2.2
python-dotenv==1.0.1
psycopg2-binary==2.9.9
requests==2.32.3

numpy>=2.1.0
opencv-python>=4.10.0.84
matplotlib>=3.9.2
ipyleaflet>=0.19.2
sympy>=1.13.2

# Machine learning ----------------------------
scikit-learn
bs4
seaborn